* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    border: 2px solid burlywood;
    background: linear-gradient(rgb(234, 234, 179), rgba(245, 245, 245, 0.203));
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 5px;
    padding: 25px 0;
    display: block;
    text-decoration: none;
    color: white;
    background-color: antiquewhite;
    text-shadow: 0px 0px 7px black;
}

a:hover{
    text-shadow: 2px 2px 11px green;
    background-color: whitesmoke;
}

body{
    background: linear-gradient(lightskyblue, white);
    min-height: 100vh;
}

/* now we are developing completely different stuffs  */

#second-part{
    /* display: flex; */
    margin-top: 50px;
    /* justify-content: center; */
    background-color: cadetblue;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#photo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vh;
    height: 60vh;    
    background-color: rgb(184, 145, 94);
    background-image: url("zWall.avif");
    background-size: cover;
    border: 2px solid black;
}

#increment-btn{    
    display: inline-block;
    background-color: beige;
    color: blue;
    border: none;
    padding: 3px;
}

#counter{
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 7px black;
}

#people-entered{
    color: white;
    text-shadow: 3px 3px 7px black;
}

#increment-btn:hover{
    background-color: blanchedalmond;
    color: black;
}

._but{    
    display: inline-block;
    background-color: beige;
    color: blue;
    border: none;
    padding: 3px;
    margin-top: 5px;
}

._but:hover{
    background-color: blanchedalmond;
    color: black;
}

#prev-text{
    color: white;
    text-shadow: 2px 2px 7px goldenrod;
    font-size: 25px;
    margin-top: 7px;
}



/* here on we are going for calculator */
#calculator-txt{
    color: whitesmoke;
    text-shadow: 5px 5px 10px blue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: burlywood;
    /* display: inline-block; */
    margin: 20px auto;
    width: max-content;
    border-radius: 7px;
    border: 2px solid whitesmoke;
}

#actual-calculator-container{
    display: flex;
    flex-direction: row;
    background-color: rgb(105, 156, 147);
    width: 30vw;
    height: 51vh;
    margin: 40px auto;
    flex-wrap: wrap;
    border-radius: 10px;
    border: 1px solid black;
}

#display{
    background-color: bisque;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 4px;
    margin-bottom: 4px;
    text-align: right;
    font-size: 30px;
    border: 1px solid black;
}

.numberholder{

    width: 65px;
    height: 60px;
    background-color: rgb(95, 114, 160);
    margin: auto auto;
    border-radius: 7px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}