* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    border: 2px solid burlywood;
    background: linear-gradient(rgb(234, 234, 179), rgba(245, 245, 245, 0.203));
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
a{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin: 5px;
    padding: 25px 0;
    display: block;
    text-decoration: none;
    color: white;
    background-color: antiquewhite;
    text-shadow: 0px 0px 7px black;
}

a:hover{
    text-shadow: 2px 2px 11px green;
    background-color: whitesmoke;
}

body{
    background: linear-gradient(lightskyblue, white);
    min-height: 100vh;
}

/* now we are developing completely different stuffs  */

#second-part{
    /* display: flex; */
    margin-top: 50px;
    /* justify-content: center; */
    background-color: cadetblue;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#photo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 40vh;    
    background-color: rgb(184, 145, 94);
    background-image: url("houseINbeautifulView.jpg");
    background-size: cover;
    border: 2px solid black;
}

#increment-btn{    
    display: inline-block;
    background-color: beige;
    color: blue;
    border: none;
    padding: 3px;
}

#counter{
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 7px black;
}

#people-entered{
    color: white;
    text-shadow: 3px 3px 7px black;
}

#increment-btn:hover{
    background-color: blanchedalmond;
    color: black;
}

#decrement-btn{    
    display: inline-block;
    background-color: beige;
    color: blue;
    border: none;
    padding: 3px;
    margin-top: 5px;
}

#decrement-btn:hover{
    background-color: blanchedalmond;
    color: black;
}